.search-form {
  padding-top: 44px;
  &__input {
    width: 608px;
    padding: 21px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
  }

  &__button {
    padding: 21px;
    border-radius: 100px;
    background-color: #2f71e5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
