.header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &__container {
    width: 80%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-menu {
    background: transparent;
    border: none;
    display: none;
  }

  &__nav {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    gap: 45px;
  }

  &__logo {
    cursor: pointer;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  &__link {
    color: white;
    cursor: pointer;

    &_light {
      color: black;
    }
  }

  &__button {
    padding: 11px 25px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.3s;
    }

    &_light {
      padding: 11px 25px;
      border: 1px solid black;
      border-radius: 100px;
      background-color: transparent;
      color: black;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
      }
    }
  }
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    height: 66px;

    &__container {
      width: 90%;
    }

    &__text {
      font-size: 16px;
    }

    &__nav {
      gap: 16px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .header {
    height: 56px;

    &__container {
      width: 90%;
    }

    &__text {
      font-size: 14px;
    }

    &__link {
      display: none;
    }

    &__button {
      display: none;
    }

    &__mobile-menu {
      display: block;
    }
  }
}
