.cards-section-title {
  font-family: "Roboto-Slab", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-left: 104px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1252px;
  padding: 64px 0;

  &__view-more {
    width: 288px;
    height: 64px;
    border-radius: 80px;
    background-color: #e8e8e8;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}

.card {
  width: 400px;
  height: 576px;
  position: relative;
  border-radius: 10px;
  margin: 8px 8px;
  background-color: #fff;
  list-style: none;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    margin: auto;
    gap: 12px;
  }

  &__image {
    z-index: 0;
    width: 100%;
    height: 272px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__date {
    color: #b6bcbf;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding-top: 20px;
  }

  &__title {
    font-family: "Roboto-Slab", serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    width: 352px;
    height: 88px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
  }

  &__link {
    color: #000;
    text-decoration: none;
  }

  &__publisher {
    font-family: "Roboto-Slab", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 0;
  }

  &__trash-button {
    border: 0;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2;
    background-image: url(../../images/trash.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__save-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2;
    background-color: #fff;
    background-image: url("../../images/bookmark.svg");
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      background-image: url(../../images/bookmark_hover.svg);
    }
  }

  &__save-button_saved {
    background-image: url(../../images/bookmark_filled.svg);
  }

  &__keyword-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 10px;
    height: 40px;
    padding: 0 22px;
    text-transform: capitalize;
    border: 0;
    display: none;
  }

  &__hover-text {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 24px;
    right: 69px;
    z-index: 2;
    width: 182px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.72px;
  }
}
